// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";
// Bootstrap Overrides
@import "bootstrap-overrides.scss";




#map {
   height: 600px;
   width: 100%;
}

.map-icon-label .map-icon {
	font-size: 24px;
  color: #FFFFFF;
  line-height: 48px;
	text-align: center;
	white-space: nowrap;
}

.poi-1 {
  /*background-color: #88bbd6;*/
  background-color: #0B3C5D;
  padding: 5px;
  color: white;
}

.poi-2 {
  /*background-color: #99d3df;*/
  background-color: #328CC1;
  padding: 5px;
  color: white;
}